doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='format-detection' content='telephone=no')
    link(rel='preload' href='fonts/muli-extralight.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='fonts/muli-light.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='fonts/muli-regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='fonts/muli-semibold.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='fonts/trirong-light.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='fonts/trirong-regular.woff2' as='font' crossorigin='anonymous')
    link(href='css/style.min.css' rel='stylesheet')

    block title
      title Dakota Johnson - personal website

    block pixel-glass
      style.
        html {
          background-repeat: no-repeat;
          background-position: 50% 0;
          background-image: url('img/layout.jpg');
        }

  body

    block svg-sprite
      div(style={display: 'none'})
        include ../img/svg-sprite/sprite.svg

    block header
      div(class='test')

    block content
      main
        include ../blocks/intro/intro.pug
        include ../blocks/about/about.pug
        include ../blocks/clients/clients.pug

    block footer

    script(src='js/script.min.js')
