doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='format-detection' content='telephone=no')
    link(href='css/style.min.css' rel='stylesheet')

    block title
      title "Московский комсомолец" - форма регистрации

    block pixel-glass
      style.
        html {
          background-repeat: no-repeat;
          background-position: 50% 0;
          background-image: url("img/pognali-index-mobile-modals.jpg");
        }

        /* Tablet */
        @media (min-width: 768px) {
          html {
            background-image: url("img/pognali-index-tablet-modals.jpg");
          }
        }

        /* Desktop */
        @media (min-width: 1440px) {
          html {
            background-image: url("img/pognali-index-desktop-modals.jpg");
          }
        }

  body

    block svg-sprite
      div(style={display: 'none'})
        include ../img/svg-sprite/sprite.svg

    block content

    script(src='js/script.min.js')
