.header {
  position: relative;
  z-index: 100;
  min-height: 146px;
  margin-bottom: -146px;
  padding-top: 40px;

  font: $text-default-600-14;
  color: $white;
}

.header__container {
  display: flex;
}

.header__site-logo {
  margin-top: 25px;
}

.header__navigation {
  margin-top: 20px;
  margin-left: auto;
}

.header__navigation-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 550px;
  margin-right: -13px;

  @media (max-width: $only-half-full-hd) {
    width: 500px;
  }

  @media (max-width: $only-tablet-width) {
    width: 400px;
  }
}

.header__navigation-item {
  margin-right: 13px;
  margin-bottom: 13px;
}

.header__navigation-link {
  @include defaultHoverEffect();

  display: block;
  padding: 1px 7px;

  font: $text-default-600-14;
  color: $white;

  &--current {
    border-bottom: 1px solid $pure-yellow;
  }
}
