.button {
  @include defaultHoverEffect();

  display: inline-block;
  padding: 18px 50px;

  font: $text-default-400-16;
  color: $midnight-blue;

  border-radius: 30px;
  background-color: $gold;

  &--uppercase {
    text-transform: uppercase;
  }

  &--blue {
    color: $white;

    background-color: $midnight-blue;
  }

  @media (max-width: $only-mobile-width) {
    padding: 12px 35px;

    font: $text-default-400-13;

    border-radius: 20px;
  }
}
