@font-face {
  font-family: "Trirong"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Trirong Light"),
    local("Trirong-Light"),
    url("../fonts/Trirong-Light.woff2") format("woff2"),
    url("../fonts/Trirong-Light.woff") format("woff");
}

@font-face {
  font-family: "Trirong"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Trirong Regular"),
    local("Trirong-Regular"),
    url("../fonts/Trirong-Regular.woff2") format("woff2"),
    url("../fonts/Trirong-Regular.woff") format("woff");
}

@font-face {
  font-family: "Muli"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    local("Muli ExtraLight"),
    local("Muli-ExtraLight"),
    url("../fonts/Muli-ExtraLight.woff2") format("woff2"),
    url("../fonts/Muli-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Muli"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Muli Light"),
    local("Muli-Light"),
    url("../fonts/Muli-Light.woff2") format("woff2"),
    url("../fonts/Muli-Light.woff") format("woff");
}

@font-face {
  font-family: "Muli"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Muli Regular"),
    local("Muli-Regular"),
    url("../fonts/Muli-Regular.woff2") format("woff2"),
    url("../fonts/Muli-Regular.woff") format("woff");
}

@font-face {
  font-family: "Muli"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("Muli SemiBold"),
    local("Muli-SemiBold"),
    url("../fonts/Muli-SemiBold.woff2") format("woff2"),
    url("../fonts/Muli-SemiBold.woff") format("woff");
}
