$tablet-width: 768px;
$desktop-width: 1440px;
$only-mobile-width: 767px;
$only-tablet-width: 1439px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$snow-white: #fefeff;
$midnight-blue: #2b2d5c;
$magenta-blue: #595666;
$gold: #f2c200;
$black: #000000;

$default-text-color: $midnight-blue;
$inverse-text-color: $white;

$default-bg-color: $white;

$default-font: "Muli", "Arial", sans-serif;
$title-font: "Trirong", "Times New Roman", serif;
$text-default-600-20: normal 600 20px/1.5 $default-font;
$text-default-600-16: normal 600 16px/2.3 $default-font;
$text-default-600-14: normal 600 14px/2.3 $default-font;
$text-default-400-16: normal 400 16px/1.5 $default-font;
$text-default-300-24: normal 300 24px/2 $default-font;
$text-default-300-20: normal 300 20px/1.7 $default-font;
$text-default-300-16: normal 300 16px/1.75 $default-font;
$text-default-300-16-slim: normal 300 16px/1.2 $default-font;
$text-default-300-15: normal 300 15px/1.75 $default-font;
$text-default-300-14: normal 300 14px/1.6 $default-font;
$text-default-200-20: normal 200 20px/1.6 $default-font;
$text-default-200-14: normal 200 14px/2 $default-font;
$text-title-400-40: normal 400 40px/1.9 $title-font;
$text-title-300-60: normal 300 60px/1.2 $title-font;
$text-title-300-40: normal 300 40px/1.9 $title-font;
$text-title-300-26: normal 300 26px/1.46 $title-font;
