.article {
  background-color: $white;

  &--active,
  &:hover,
  &:focus {
    box-shadow: 0 0 80.36px 1.64px rgba($midnight-blue, 0.2);
  }
}

.article__photo-wrapper {
  @include imgContainer();
}

.article__container {
  margin: 0 35px;

  @media (max-width: $only-mobile-width) {
    margin: 0 30px;
  }
}

.article__title {
  margin: 20px 0 10px;

  font: $text-default-600-20;
  color: $midnight-blue;

  @media (max-width: $only-mobile-width) {
    font: $text-default-600-14;
  }
}

.article__type {
  margin: 15px 0;

  font: $text-default-300-15;
  color: $midnight-blue;

  @media (max-width: $only-mobile-width) {
    font: $text-default-300-13;
  }
}

.article__type-text {
  font: $text-default-600-15;

  @media (max-width: $only-mobile-width) {
    font: $text-default-600-13;
  }
}

.article__text {
  margin: 15px 0 5px;

  font: $text-default-300-16;
  color: $magenta-blue;

  @media (max-width: $only-mobile-width) {
    font: $text-default-300-13;
  }
}

.article__more {
  display: inline-block;
  margin: 10px 0 60px;
  padding-right: 15px;

  font: $text-default-400-16;
  color: $magenta-blue;

  box-shadow: inset 0 -10px 0 0 $light-yellow;

  @media (max-width: $only-mobile-width) {
    font: $text-default-400-13;

    box-shadow: inset 0 -9px 0 0 $light-yellow;
  }
}
